<ion-view view-title="Home" class="home">
    <ion-content>
        <img src="img/koduss.png"/>
        <h2>Qué deseas buscar?</h2>
        <p><a class="button button-positive icon icon-right ion-chevron-right" href="#/app/hostels">Pensiones</a></p>
        <p><a class="button button-positive icon icon-right ion-chevron-right" href="#/app/hotelHouses">Casas Hotel</a></p>
        <p><a class="button button-positive icon icon-right ion-chevron-right" href="#/app/properties">Inmuebles</a></p>
    </ion-content>
</ion-view>
